@font-face {
  src: url('../assets/fonts/Cousine-Bold.ttf');
  font-family: 'cousine';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Moon2.0-Regular.otf');
  font-family: 'moon';
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/Moon2.0-Bold.otf');
  font-family: 'moon-bold';
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
  font-family: 'source-sans';
  font-display: swap;
}